<link rel="stylesheet" href="../../public/css/product.css">
<div class="container-fluid">
  <div class="row" id="product-process">
    <div class="col-md-5">
      <img src="/public/img/Air-Jordan-1-Retro-High-Off-White-Chicago-Product.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="snker">
    </div>
    {{#with sneaker}}
    <div class="col-md-7">
      <h3 id="title">{{name}}</h3>
      <div class="row" id="price">
        <h5>GIÁ:</h5>
        <p id="old-price">{{price}}đ</p>
        <p id="new-price">-{{price}}đ</p>
      </div>
      <h5>SIZE:</h5>
      <a href="#" target="_blank" rel="noopener noreferrer">Hướng dẫn chọn size</a>
      <div class="form-group">
        <select class="form-control" name="" id="size-variations">
          <option value="43">43</option>
          <option value="42">42</option>
          <option value="41">41</option>
          <option value="40">40</option>
          <option value="39">39</option>
          <option value="38">38</option>
          <option value="37">37</option>
          <option value="36">36</option>
          <option value="35">35</option>
        </select>
      </div>
      <h5>SỐ LƯỢNG</h5>
      <div class="input-group">
        <input type="button" value="-" class="button-minus" data-field="quantity">
        <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
        <input type="button" value="+" class="button-plus" data-field="quantity">
      </div>
      <div class="row" id="total">
        <h5>Tổng tiền:</h5>
        <p>1,253,000₫</p>
      </div>
      <button>THÊM VÀO GIỎ HÀNG</button>
    </div>
  </div>
  <div class="row" id="product-review">
    <div id="details">
      <h3>Thông tin bổ sung: </h3>
      <p>Size : 36, 37, 38, 39, 40, 41, 42, 43, 44<br>
        Thương hiệu : Nike<br>
        Product Cat : Apparel & Accessories > Shoe Accessories<br>
        Giới : Nam, Nữ<br>
        Màu sắc : Đỏ<br>
      </p>
    </div>
    <div id="review">
      <h3>MÔ TẢ:</h3>
      <p>Phát hành vào ngày 3/3/2018, mẫu Air Jordan 1 Retro High OFF-WHITE của Virgil Abloh đang được kỳ vọng là phiên
        bản sneakers xuất sắc nhất năm nay. Với số lượng phát hành nhỏ giọt ở châu Âu, Air Jordan 1 Retro High OFF-WHITE
        càng khiến người yêu giày ở Bắc Mỹ và châu Á thèm muốn. Kết quả, mẫu giày này đứng đầu bảng xếp hạng vì giá bán
        lại cực cao trên StockX: 1771 USD (khoảng 40 triệu đồng).<br>
        Giày Off White X Air Jordan là một sản phẩm kết hợp xu hướng Off White đang thống trị xu thế đường phố vẫn với
        tinh thần Giày Air Jordan kèm với một số chi tiết nổi bật đặc trưng cùa Off White. Chính những điều đó đã mang
        đến nét mới lạ cho Air Jordan.<br>
      </p>
      <img src="/public/img/eb00932aa09fd2e49ff4a250103dd044.jpg"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
    </div>
  </div>
  {{/with}}
 
  <div class="row" id="product-suggest">
    <h3>Sản phẩm tương tự:</h3>
    <div class="row">
      {{#each same}}
      
      <div class="col-md-4">
        <a href="/product/{{id}}">
        <div class="card">
          <img class="card-img-top" src="/public/img/Air-Jordan-1-Retro-High-Off-White-Chicago-Product.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{name}}</h3>
            <div class="row" id="price">
              <h5>GIÁ:</h5>
              <p id="old-price card-text">{{price}}₫</p>
              <p id="new-price card-text">{{price}}₫</p>
            </div>
          </div>
        </div>
        </a>
      </div>

      {{/each}}
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script>
  function incrementValue(e) {
    e.preventDefault();
    var fieldName = $(e.target).data('field');
    var parent = $(e.target).closest('div');
    var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

    if (!isNaN(currentVal)) {
      parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
    } else {
      parent.find('input[name=' + fieldName + ']').val(0);
    }
  }

  function decrementValue(e) {
    e.preventDefault();
    var fieldName = $(e.target).data('field');
    var parent = $(e.target).closest('div');
    var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

    if (!isNaN(currentVal) && currentVal > 0) {
      parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
    } else {
      parent.find('input[name=' + fieldName + ']').val(0);
    }
  }

  $('.input-group').on('click', '.button-plus', function (e) { incrementValue(e); });

  $('.input-group').on('click', '.button-minus', function (e) { decrementValue(e); });
</script>